<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestAnswer</title>
</head>
<body>
    <h4>Question 1 Answer:</h4>
    <%= q1Answer %>
    <h4>Question 2 Answer:</h4>
    <%= q2Answer %>
    <h4>Question 3 Answer:</h4>
    <%= q3Answer %>
    <h4>Question 4 Answer:</h4>
    <%= q4Answer %>
    <h4>Question 5 Answer:</h4>
    <%= q5Answer %>
</body>
</html>