<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <header>
        <%- include('../partials/navTop') %>
    </header>
    <h4>Question: </h4>
    <%- question%>
    <h4>Answer: </h4>
    <%- answer%>
    <h4>userInput: </h4>
    <%- userInput%>
    <h4>questionID: </h4>
    <%= questionID %>
    <h1><%- AnswerStatus%></h1>
</body>
</html>