<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <header>
        <%- include('./partials/navTop') %>
    </header>
    <h4>Question 1 Answer:</h4>
    <%= q1Answer %>
    <%= q1Icon%>
    <h4>Question 2 Answer:</h4>
    <%= q2Answer %>
    <%= q2Icon%>
    <h4>Question 3 Answer:</h4>
    <%= q3Answer %>
    <%= q3Icon%>
    <h4>Question 4 Answer:</h4>
    <%= q4Answer %>
    <%= q4Icon%>
    <h4>Question 5 Answer:</h4>
    <%= q5Answer %>
    <%= q5Icon%>
</body>
<%- include('../partials/footer')%>
</html>